<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoloadExtensions="true"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlogs\internal-nlog.log">

	<targets async="true">
		<target name="database" xsi:type="Database">
			<connectionString>${var:ConnectionString}</connectionString>

			<commandText>
				INSERT INTO ${var:TableName} (LongDate, Level, Message, Logger, TraceIdentifier, Exception)
				VALUES (@LongDate, @Level, @Message, @Logger, @TraceIdentifier, @Exception);
			</commandText>

			<parameter name="@LongDate" layout="${longDate}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@TraceIdentifier" layout="${aspnet-traceidentifier}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="System.Logging.StringLogging" minlevel="Trace" maxlevel="Fatal" writeTo="database" />
		<logger name="System.Logging.FriendlyException" minlevel="Trace" maxlevel="Fatal" writeTo="database" />
		<logger name="ApiEngine.*" minlevel="Trace" maxlevel="Fatal" writeTo="database" />
	</rules>

</nlog>
