<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoloadExtensions="true"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlogs\internal-nlog.log">

	<targets async="true">
		<target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
			<target xsi:type="Seq" serverUrl="http://192.168.1.100:5341" apiKey="FzPTdz9buNeubsazyOQk" >
				<property name="ThreadId" value="${threadid}" as="number" />
				<property name="MachineName" value="${machinename}" />
				<property name="StackTrace" value="${onexception:inner=${stacktrace}}"/>
			</target>
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="System.Logging.StringLogging" minlevel="Trace" maxlevel="Fatal" writeTo="seq" />
		<logger name="System.Logging.FriendlyException" minlevel="Trace" maxlevel="Fatal" writeTo="seq" />
		<logger name="ApiEngine.*" minlevel="Trace" maxlevel="Fatal" writeTo="seq" />
	</rules>
</nlog>