<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoloadExtensions="true"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlogs\internal-nlog.log">

	<targets async="true">
		<target name="file" xsi:type="File"
		        layout="${longdate}||${level}||${logger}||${message}||${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=10:separator=\r\n}||${aspnet-traceidentifier}||end"
		        fileName="${basedir}/nlogs/${shortdate}.log"
		        maxArchiveFiles="30" />
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="System.Logging.StringLogging" minlevel="Trace" maxlevel="Fatal" writeTo="file" />
		<logger name="System.Logging.FriendlyException" minlevel="Trace" maxlevel="Fatal" writeTo="file" />
		<logger name="ApiEngine.*" minlevel="Trace" maxlevel="Fatal" writeTo="file" />
	</rules>
</nlog>